<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1" metadata-complete="true">
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.xhtml</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<!-- Servlet 1 配置 -->
	<servlet>
		<servlet-name>ServletAName</servlet-name>
		<!-- 类路径含pacakge name -->
		<servlet-class>servlet.AServlet</servlet-class>
		<!-- servletduixiang 启动参数 -->
		<init-param>
			<param-name>p1</param-name>
			<param-value>v1</param-value>
		</init-param>
		<init-param>
			<param-name>p2</param-name>
			<param-value>v2</param-value>
		</init-param>
		<!-- Tomcat启动时init servlet -->
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletAName</servlet-name>
		<url-pattern>/servlet_a</url-pattern>
	</servlet-mapping>

	<!-- Servlet 2 配置 -->
	<servlet>
		<servlet-name>ServletBName</servlet-name>
		<servlet-class>servlet.BServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletBName</servlet-name>
		<url-pattern>/servlet_b</url-pattern>
	</servlet-mapping>
	
	<!-- Servlet 3 配置 -->
	<servlet>
		<servlet-name>ServletCName</servlet-name>
		<servlet-class>servlet.GenericServletTest</servlet-class>
		<init-param>
			<param-name>p3</param-name>
			<param-value>v3</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletCName</servlet-name>
		<url-pattern>/servlet_c</url-pattern>
	</servlet-mapping>
	
	<!-- Servlet 3 配置 -->
	<servlet>
		<servlet-name>ServletDName</servlet-name>
		<servlet-class>servlet.HttpServletTest</servlet-class>		
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletDName</servlet-name>
		<url-pattern>/servlet_d</url-pattern>
	</servlet-mapping>
	
	<!-- Servlet 4 配置 -->
	<servlet>
		<servlet-name>ServletEName</servlet-name>
		<servlet-class>servlet.LoginServlet</servlet-class>		
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletEName</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	
	<!-- Servlet 5 配置 -->
	<servlet>
		<servlet-name>ServletFName</servlet-name>
		<servlet-class>servlet.HttpServletTest2</servlet-class>		
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletFName</servlet-name>
		<url-pattern>/servlet_f</url-pattern>
	</servlet-mapping>
	
	<!-- Servlet 6 配置 -->
	<servlet>
		<servlet-name>ServletGName</servlet-name>
		<servlet-class>servlet.ResponseBuffTest</servlet-class>		
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletGName</servlet-name>
		<url-pattern>/servlet_g</url-pattern>
	</servlet-mapping>
	
	<!-- Servlet 7 配置 -->
	<servlet>
		<servlet-name>ServletHName</servlet-name>
		<servlet-class>servlet.ResponseBuffTest2</servlet-class>		
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletHName</servlet-name>
		<url-pattern>/servlet_h</url-pattern>
	</servlet-mapping>
	
	<!-- Servlet 8 配置 -->
	<servlet>
		<servlet-name>ServletIName</servlet-name>
		<servlet-class>servlet.RequestTest</servlet-class>		
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletIName</servlet-name>
		<url-pattern>/servlet_i</url-pattern>
	</servlet-mapping>
	
	<!-- Servlet 9 配置 -->
	<servlet>
		<servlet-name>ServletJName</servlet-name>
		<servlet-class>servlet.RequestParamTest</servlet-class>		
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletJName</servlet-name>
		<url-pattern>/servlet_j</url-pattern>
	</servlet-mapping>
	
	<!-- Servlet 10 配置 -->
	<servlet>
		<servlet-name>ServletKName</servlet-name>
		<servlet-class>servlet.RequestBean</servlet-class>		
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletKName</servlet-name>
		<url-pattern>/servlet_k</url-pattern>
	</servlet-mapping>
	
	<!-- Servlet 11 配置 -->
	<servlet>
		<servlet-name>ServletLName</servlet-name>
		<servlet-class>servlet.CrossServletA</servlet-class>		
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletLName</servlet-name>
		<url-pattern>/crossservlet_a</url-pattern>
	</servlet-mapping>
	
	<!-- Servlet 12 配置 -->
	<servlet>
		<servlet-name>ServletMName</servlet-name>
		<servlet-class>servlet.CrossServletB</servlet-class>		
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletMName</servlet-name>
		<url-pattern>/crossservlet_b</url-pattern>
	</servlet-mapping>
	
	<!-- Servlet 13 配置 -->
	<servlet>
		<servlet-name>ServletNName</servlet-name>
		<servlet-class>servlet.CrossServletC</servlet-class>		
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletNName</servlet-name>
		<url-pattern>/crossservlet_c</url-pattern>
	</servlet-mapping>
	


</web-app>